.send-info {
  word-wrap: break-word;
  overflow: hidden;

  &-side {
    float: left;
    width: 50%;
  }

  &-i {
    margin-bottom: 20px;
  }

  &-amount {
    margin-top: 10px;
    color: #9cd8ff;
    font-size: 20px;
  }
}
